{% extends 'bootstrap/base.html' %}

{% block head %}
    
    {{ super() }}
    <title>
        {% block title %} Flask Platzi |{% endblock %} 
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>

{% endblock %}

{% block body %}
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}
        
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Saludos</strong>
            <button type="button"
                    aria-label="Close"
                    data-dismiss="alert"
                    class="close">&times;</button>
            {{ message }}
        </div>
    {% endfor %}

    {% block content %}{% endblock %}
    {% block scripts %}
        {{ super() }}
    {% endblock %}

{% endblock %}
